@import 'cropperjs/dist/cropper.css';

$box-width:575px;
$max-box-width:1020px;
body {
  padding: 0;
  margin: 0;
}

/* Ensure the size of the image fit the container perfectly */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

#picture-resizing-box{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #picture-resizing {
    display: flex;
    max-width: $max-box-width;
    padding: 16px;
    margin-top: 16px;
    position: relative;
    #picture-resizing-editor {
      width:$box-width;
      height:$box-width;

      img{
        min-width: 255px;
        min-height: 255px;
      }
      #picture-resizing-editor-action{
        display: flex;
        justify-content: flex-end;
        padding: 16px;
        position: relative;
        button{
          border: none;
          padding: 10px 24px;
          font-weight: 600;
          margin: 0 4px;
          border-radius: 2px;
          box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
          display: inline-block;
          font-size: 1rem;

          &:last-child{
            background-color: #018601;
            color: #ffffff;
            &:disabled{
              color: rgba(#ffffff,0.5);
            }
            &:hover{
              background-color: #016901;
            }
          }
          &:first-child{
            background-color: #dedede;
            color: #000000;
            &:disabled{
              color: rgba(#000000,0.5);
            }
            &:hover{
              background-color: #cecece;
            }
          }
        }
        #picture-resizing-editor-progress{
          height: 6px;
          width: 0;
          background-color: #018601;
          position: absolute;
          top: 0;
          left: 0;
          transition: width 500ms linear;
        }
      }
    }
    #picture-resizing-preview {
      margin: 8px;
      #preview-image {
        border-radius: 2px;
        overflow: hidden;
        height: 125px;
        width: 105px;
        border: 3px solid rgba(0,0,0,0.2);
        box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
      }
    }
    #picture-resizing-file-box{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #d2d2d2;
      box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover{
        >div{
          border: 2px dotted #0a0a0a;
          svg{
            fill: #0a0a0a;
          }
        }
      }
      >div{
        border: 2px dotted #545454;
        padding: 16px;
        border-radius: 2px;
        svg{
          fill: #545454;
        }
      }
    }
  }
  #picture-resizing-box-checked{
    margin-top: 32px;
    padding: 16px;
    width: auto;
    background-color: #ffffff;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.16);
    display: flex;
    border-radius: 2px;
    input{
      flex: 1;
      padding: 8px 0;
      border: 2px solid #d2d2d2;
      font-weight: 600;
      box-sizing: content-box;
      text-align: center;
      font-size: 1rem;
      &:focus{
        outline: none;
        border-color: #0d6efd;
      }
    }
    button{
      border: 2px solid #0d6efd;
      padding: 0 16px;
      font-weight: 600;
      background-color: #0d6efd;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 1rem;
      &:active{
        background-color: #3d8bfd;
        border: 2px solid #3d8bfd;
      }
      &:disabled{
        color: rgb(#ffffff,0.5);
        background-color: #3d8bfd;
        border: 2px solid #3d8bfd;
      }
    }
  }
}


@media (max-width: 574.8px) {
  $box-width:380px;
  $max-box-width:475.98px;
  #picture-resizing-box{
    #picture-resizing {
      max-width: $max-box-width;
      padding: 6px;
      margin-top: 6px;
      flex-direction: column;
      align-items: center;
      #picture-resizing-editor {
        width:$box-width;
        height:$box-width;
        order: 2;
        #picture-resizing-editor-action{
          padding: 6px;
        }
      }
      #picture-resizing-preview {
        margin: 6px;
        order: 1;
        #preview-image {
          border-radius: 2px;
          overflow: hidden;
          height: 125px;
          width: 105px;
        }
      }
    }
    #picture-resizing-box-checked{
      margin-top: 32px;
      padding: 6px;
      input{
        font-size: 0.9rem;
      }
      button{
        padding: 0 12px;
        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width:575px) and (max-width: 767.98px) {
  $box-width:578px;
  $max-box-width:767.98px;
  #picture-resizing-box{
    #picture-resizing {
      max-width: $max-box-width;
      padding: 8px;
      margin-top: 8px;
      flex-direction: column;
      align-items: center;
      #picture-resizing-editor {
        width:$box-width;
        height:$box-width;
        order: 2;
        #picture-resizing-editor-action{
          padding: 8px;
        }
      }
      #picture-resizing-preview {
        margin: 6px;
        order: 1;
        #preview-image {
          border-radius: 2px;
          overflow: hidden;
          height: 125px;
          width: 105px;
        }
      }
    }
    #picture-resizing-box-checked{
      margin-top: 32px;
      padding: 8px;
      input{
        font-size: 0.95rem;
      }
      button{
        padding: 0 14px;
        font-size: 0.95rem;
      }
    }
  }
}